* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  
  background: linear-gradient(
    90deg,
    rgb(78, 63, 155) 0%,
    rgb(43, 45, 63) 100%
  );
}

.Todo-list-container{
  margin:5rem ;
  display: flex;
  justify-content: start;
  border: 1px solid black;
  min-height: 50rem;
  background-color: rgb(235, 229, 229);
  flex-direction: column;
  width: 520px;
  background: #151b2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 1rem;
  padding-bottom: 32px;
  padding-top: 5px;

  
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.todo-form{
  
  display: flex;
  width: 100%;
  margin-top: 3rem;
  font-size: 2rem;
  margin-bottom: 32px;
  margin-left: 10px;
}

.todo-form input{
 
  font-size: 2rem;
  margin: 1rem;
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 330px;
  background: transparent;
  color: #fff;
}

.todo-form button{
 
  cursor: pointer;
  font-weight: 300;
  font-size: 2rem;
  height: 7.5rem;
  padding: 20px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );

}

.todo-form button:hover{
  color: white;
  font-weight: 600;

  
}

.task-div{
  background-color: aliceblue;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem rgb(226, 193, 193);
}

.todo-text{
  font-size: 2.5rem;
}

.icons{
  font-size: 2.5rem;
  gap: 7rem;
  font-size: 2.5rem;
  cursor: pointer;
 
}

.complete{
  text-decoration: line-through;
  opacity: 0.5;
  background-color: greenyellow;
}

.hide{
  display: none;
}